USE [master]
GO
/****** Object:  Database [ITDB]    Script Date: 05/10/2019 07:03:00 ******/
CREATE DATABASE [ITDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ITDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ITDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITDB]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 05/10/2019 07:03:00 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[absenceTb]    Script Date: 05/10/2019 07:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[absenceTb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DataOfDay] [date] NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyLogTb]    Script Date: 05/10/2019 07:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyLogTb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](max) NULL,
	[DateOfDay] [date] NULL,
	[Satement] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderTb]    Script Date: 05/10/2019 07:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderTb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderN] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[Day] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[absenceTb] ON 
GO
INSERT [dbo].[absenceTb] ([id], [DataOfDay], [EmployeeName], [Type], [Description]) VALUES (1, CAST(N'2019-05-10' AS Date), N'الحسين احمد حسن ', N'اجازة', N'بسبب وجود امتحان')
GO
SET IDENTITY_INSERT [dbo].[absenceTb] OFF
GO
SET IDENTITY_INSERT [dbo].[DailyLogTb] ON 
GO
INSERT [dbo].[DailyLogTb] ([Id], [Day], [DateOfDay], [Satement]) VALUES (3, N'sf', NULL, NULL)
GO
INSERT [dbo].[DailyLogTb] ([Id], [Day], [DateOfDay], [Satement]) VALUES (4, N'qwe', NULL, NULL)
GO
INSERT [dbo].[DailyLogTb] ([Id], [Day], [DateOfDay], [Satement]) VALUES (5, N'qwtqwt', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DailyLogTb] OFF
GO
USE [master]
GO
